/* General styles */
body {
    font-family: 'cursive', 'lucida';
    margin: 0;
    padding: 0;
    background-color: #efbcd5;
    /* Light blue background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    text-align: center;
    color: #9978db;
}

form {
    background-color: #c9b8e6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 3);
    width: 100%;
    max-width: 400px;
    margin: 20px;
}

label {
    font-size: 24px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ca5b5b;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #5c4caf;

    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
    /* Darker green on hover */
}

textarea {
    resize: none;
}

form div {
    margin-bottom: 15px;
}

/* Media query for responsiveness */
@media (max-width: 600px) {
    form {
        width: 100%;
        padding: 15px;
    }
}